// Reset margin and padding for all elements
* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

label {
    font-weight: 700;
    display: block;
}

input[type=text], select {
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
}

input[type=submit] {
    background-color: $primary-color;
    color: white;
    padding: 14px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    font-weight: 700;
    transition: all 0.1s;

    &:hover {
        background-color: white;
        border: 2px solid $primary-color;
        color: $primary-color;
    }
}

.dark-grey-text {
    color: $dark-grey;
}
