@import "../../styles/vars.scss";

.search {
    &__description {
        font-size: 48px;
        background: linear-gradient(90deg, #00ecc5, #264653);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        padding: 48px 0 22px;
    }

    &__helper-text {
        color: $dark-grey;
        padding-bottom: 28px;
    }

    &__wrapper {
        background: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding: 32px;
        margin-bottom: 54px;
    }

    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__element {
            width: 100%;
            padding-right: 12px;
        }

        // &__submit {
        //     flex-grow: 3;
        //     text-align: right;
        //     margin-top: 24px;
        // }
    }

    &__error {
        background: $error-bg;
        color: $error;
        border: 1px solid $error;
        border-radius: 5px;
        padding: 12px;
        margin-top: 24px;
    }

    &__result {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        > li {
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            margin: 0 12px 12px;
        }
    }
}

@media screen and (max-width: 767px) {
    .search__form__element {
        width: 100%;
        padding-right: 0;
    }
}
